<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay my Buddy</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href = "@{/css/main.css}" rel="stylesheet">

</head>
<body>
<header th:insert="~{my-template :: fragment-header}"></header>
<main>
    <div class="banner">
        <img th:src="@{/img/welcome.png}" alt="image de bienvenue">
    </div>
</main>
<h2>bonjour</h2>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src ="@{/js/actions.js}"></script>
</body>
</html>
