<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{my-template :: fragment-head}"></head>
<body>
<header th:insert="~{my-template :: fragment-header}"></header>

<main>
    <div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <label for=""></label><input type="datetime-local" name="" id="">
</main>
<!--<h2 th:text="' thymleaf ' + ${message} + 'App'"></h2>-->
<h2>bonjour</h2>
<button type="button" th:onclick="demo()">Show alert</button>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <th scope="row">1</th>
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.getFirstName()}">atata</td>
        <td th:text="${user.getLastname()}">Name</td>
        <td th:text="${user.getEmail()}">Name</td>
        <td>@mdo</td>
    </tr>
    </tbody>
</table>
<footer th:insert="~{my-template :: fragment-footer}"></footer>
</body>
</html>
