<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay my Buddy</title>
    <link th:href = "@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top p-0">
    <div class="container-fluid p-0 flex-row-reverse">
    </div>
        <ul class="nav nav-pills p-5 ">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Transfer</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            <li role="presentation"><a href="#">Log off</a></li>
        </ul>

</nav>
<h2 th:text="' thymleaf ' + ${message} + 'App'"></h2>
<h2>bonjour</h2>
<button type="button" th:onclick="demo()">Show alert</button>
<script type="text/javascript" th:src ="@{/js/actions.js}"></script>
</body>
</html>
