<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal logo"><a th:href="@{/home}">Pay My Buddy</a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2" th:href="@{/login}">Sign in</a>
            <a class="p-2" th:href="@{/registration}">Sign Up</a>
        </nav>
    </div>
</header>
<main>
    <div class="banner">
        <img th:src="@{/img/welcome.png}" alt="image de bienvenue">
    </div>
</main>
<h2>bonjour</h2>
<!-- create navigation bar ( header) -->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle collapsed"-->
<!--                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"-->
<!--                    aria-controls="navbar">-->
<!--                <span class="sr-only">Toggle navigation</span> <span-->
<!--                    class="icon-bar"></span> <span class="icon-bar"></span> <span-->
<!--                    class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="navbar-brand" href="#" th:href="@{/}">Registration and-->
<!--                Login Module</a>-->
<!--        </div>-->
<!--        <div id="navbar" class="collapse navbar-collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</footer>
</body>
</html>
